.title {
    width: 100%;
    text-align: center;
    font-size: 2.6rem;
    color: #104C70;
    text-shadow: 0.055px 0.803px 0.755px rgba(0, 0, 0, 0.057), 0.24px 3.49px 3.42px rgba(0, 0, 0, 0.23), 0.583px 8.481px 6.156px rgba(0, 0, 0, 0.102);
    font-weight: 700;
    text-transform: uppercase;
}

@media all and (width <= 1024px) {
    .title {
        font-size: 2rem;
    }
}

@media all and (width <= 600px) {
    .title {
        font-size: 1.8rem;
    }
}